@charset "UTF-8";
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Pretendard", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #333333;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Pretendard", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#skip {
  position: relative;
  z-index: 3000;
}
#skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

body {
  background-image: url(../../images/mainbg.png);
  background-repeat: no-repeat;
  background-size: 100% 800px;
}

#header {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 1000;
  left: 0;
  padding: 0 150px;
  align-items: center;
}
#header h1 a {
  display: block;
  height: 48px;
}
#header h1 a img {
  width: 250px;
}
#header .nav ul {
  display: flex;
  justify-content: flex-end;
}
#header .nav .top_nav {
  position: absolute;
  top: 20px;
  right: 150px;
}
#header .nav .top_nav ul {
  gap: 30px;
}
#header .nav .top_nav ul a {
  color: white;
}
#header .nav .main_nav {
  font-size: 23px;
  font-weight: bold;
  margin-top: 25px;
}
#header .nav .main_nav .nav_1depth {
  gap: 50px;
}
#header .nav .main_nav .nav_1depth a {
  color: white;
}

#main {
  margin: 0 150px;
}
#main .menu {
  width: 100%;
  height: 800px;
  text-align: center;
  padding-top: 170px;
}
#main .menu h2 {
  font-size: 24px;
  font-weight: normal;
  color: white;
  padding-bottom: 10px;
}
#main .menu img {
  width: 300px;
}
#main .menu .search {
  padding: 50px 0;
}
#main .menu .search input {
  border: 2px solid #97ca66;
  border-radius: 10px 0 0 10px;
  width: 700px;
  height: 60px;
  font-family: "Pretendard";
  padding: 15px;
}
#main .menu .search button {
  background: #97ca66;
  width: 60px;
  height: 60px;
  border-radius: 0 10px 10px 0;
  margin-left: -7px;
}
#main .menu .search button img {
  width: 25px;
}
#main .menu .big_menu {
  padding-top: 50px;
}
#main .menu .big_menu .big_menu_list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
#main .menu .big_menu .big_menu_list li {
  background: white;
  box-shadow: rgb(104, 104, 104) 0px 0px 10px;
  border-radius: 10px;
  width: 170px;
  height: 230px;
}
#main .menu .big_menu .big_menu_list li a {
  display: block;
  width: 170px;
  height: 230px;
}
#main .menu .big_menu .big_menu_list li a img {
  width: 120px;
  margin: 20px 0 10px 0;
}
#main .menu .big_menu .big_menu_list li a h3 {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 10px;
}
#main .menu .big_menu .big_menu_list li a .fa-arrow-right {
  display: none;
}
#main .menu .big_menu .big_menu_list li:hover {
  background: #97ca66;
  transition: background 0.3s ease;
}
#main .menu .big_menu .big_menu_list li:hover a img {
  display: none;
}
#main .menu .big_menu .big_menu_list li:hover a h3 {
  color: white;
  font-size: 25px;
  margin-top: 75px;
  line-height: 1.2;
}
#main .menu .big_menu .big_menu_list li:hover a .fa-arrow-right {
  display: block;
  color: white;
  font-size: 30px;
}
#main .board {
  width: 100%;
  height: 500px;
  margin: 70px 0;
  display: flex;
  gap: 30px;
}
#main .board h3 {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
#main .board h3 button {
  margin-bottom: 10px;
}
#main .board h3 button .fa-arrow-right {
  font-size: 13px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #a7a7a7;
  color: #888888;
  padding: 7px;
}
#main .board .notice {
  width: 400px;
}
#main .board .notice .notice_list {
  margin-top: 10px;
}
#main .board .notice .notice_list li a p {
  width: 390px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2.5;
}
#main .board .notice .notice_list li a p strong {
  font-weight: bold;
}
#main .board .notice .notice_list li:hover {
  font-weight: bold;
}
#main .board .booknarae {
  margin-top: 15px;
}
#main .board .booknarae a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 110px;
  border-radius: 10px;
  border: 2px solid #97ca66;
  background: white;
  font-size: 18px;
}
#main .board .booknarae a img {
  width: 80px;
  margin-right: 35px;
}
#main .book {
  width: 100%;
  height: 375px;
  background-color: #8e8e8e;
  margin-bottom: 70px;
}

#footer {
  margin: 0 150px;
}
#footer .link {
  width: 100%;
  height: 70px;
  background-color: #6a6a6a;
}
#footer .footer {
  width: 100%;
  height: 140px;
  background-color: #505050;
}/*# sourceMappingURL=comm.css.map */